.info-area {
    position: relative;
    height: 146px;
    width: 146px;
    border-radius: 50%;
    background: url('../../images/play-image.png') no-repeat center center / contain;
  }
  
  .info-icon {
    display: inline-flex;
    position: absolute;
    top: 10px;
    right: -27px;
    font-size: 27px;
    color: #6c6c78;
  }